{% extends "::base.html.twig" %}
{% block stylesheet %}
        {{ parent() }} 
        <link href="{{ asset ('css/gallery/galleriffic-2.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}Vitrine{% endblock %}

{% block page %}
<div class="row">
        <div class="span12 alert alert-success"><h1 class="titre">Gest'Couture de TBSS </h1></div>
    </div>

<div class='row'>
    <div class="span2 float-right">
        {% if form_errors(filterForm) %}
        <div class="alert alert-block alert-error fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
        &nbsp;
    </div>
    <div class="span2">
        <div class="filters-right">
            <a class="btn dropdown-toggle" data-toggle="collapse" data-target="#filters">
                {{ 'views.index.filters'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                <span class="caret"></span>
            </a>
        </div>
    </div>

    <div class="span5">
        <div id="filters" class="collapse">
            {% form_theme filterForm with ['CoutureClientBundle:Client:perso_input_bootstrap.html.twig'] %}
            <form class="well" action="{{ path('vitrineIndex') }}" method="get" {{ form_enctype(filterForm) }}>
                
                {#{ form_row(filterForm.libelle) }#}
                
                
                {{ form_rest(filterForm) }}

                <p>
                    <button type="submit" name="filter_action" value="filter">{{ 'views.index.filter'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                    <button type="submit" name="filter_action" value="reset">{{ 'views.index.reset'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                </p>
            </form>
        </div>
    </div>
                </div>


<div class="row">
    
    <div class="col-sm-4">
        <div class="row">
            
        
            
                
                {% for entity in entities %}
                    <div class="col-sm-4">
                
                    <a class="modele-thumbnail" data-source="{{ asset (entity.image.getWebPath()) }}" title="{{ entity.libelle }}">
                        <img style = "height: 160px !important;"  title="{{ entity.libelle }}" alt="{{ entity.libelle }}"class="img-responsive img-thumbnail" src="{{ asset (entity.image.getWebPath()) }}" alt="Title #0" />
                    </a>
                    
                </div>
                {% endfor %}
              
        </div>
        
    </div>
    <div id="modele-big" class="col-sm-8 img-modele">
        
        
    </div>
</div>
        
                <div style="clear: both;"></div>







<div class="span4">
    {{ pagerHtml|raw }}
    </div>



{% endblock %}

{% block javascript %}
        {{ parent() }} 
        <script src="{{ asset('./js/jquery.galleriffic.js') }}"></script>
        
    

{% endblock %}
