{# empty Twig template #}
<footer class="classe-masquee">
    <div class="bar">
        <div class="bar-wrap">
            <ul class="links">
                <li><a href="{{ path('vitrineIndex') }}">Accueil</a></li>
                <li><a href="{{ path('client') }}">Client</a></li>
                <li><a href="#">Admin</a></li>
                <li><a href="{{ path('a_propos') }}">A propos</a></li>
                <li><a href="{{ path('licence') }}">Licence</a></li>
            </ul>

            <div class="social">
                <a href="#" class="fb">
                    <span data-icon="f" class="icon"></span>
                    <span class="info">
                        <span class="follow">Become a fan Facebook</span>
                        <span class="num">9,999</span>
                    </span>
                </a>

                <a href="#" class="tw">
                    <span data-icon="T" class="icon"></span>
                    <span class="info">
                        <span class="follow">Follow us Twitter</span>
                        <span class="num">9,999</span>
                    </span>
                </a>

                <a href="#" class="rss">
                    <span data-icon="R" class="icon"></span>
                    <span class="info">
                        <span class="follow">Subscribe RSS</span>
                        <span class="num">9,999</span>
                    </span>
                </a>
            </div>
            <div class="clear"></div>
            <div class="copyright"><a class="navbar-brand" href="http://www.touba-bss.com"><img src="{{ asset('images/LOGO.png') }}" alt="Touba Business Services & Solutions" title="Touba Business Services & Solutions"/></a> | &copy;  2015 All Rights Reserved</div>
        </div>
    </div>
</footer>
