{#% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %#}
{% extends '::base.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Client'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    <div class="row">
        <div class="span12 alert alert-success"><h1 class="titre">Nos Clients </h1></div>
    </div>

<div class="row  float-right">
    
    
    <div class="span2">
        {% if form_errors(filterForm) %}
        <div class="alert alert-block alert-error fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
        &nbsp;
    </div>
    <div class="span2">
        <div class="filters-right">
            <a class="btn dropdown-toggle" data-toggle="collapse" data-target="#filters">
                {{ 'views.index.filters'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                <span class="caret"></span>
            </a>
        </div>
    </div>

    <div class="span5">
        <div id="filters" class="collapse">
            {% form_theme filterForm with ['CoutureClientBundle:Client:perso_input_bootstrap.html.twig'] %}
            <form class="well" action="{{ path('client') }}" method="get" {{ form_enctype(filterForm) }}>
                {#{ form_row(filterForm.id) }#}
                {{ form_row(filterForm.nom) }}
                {{ form_row(filterForm.prenom) }}
                {#{ form_row(filterForm.telephone) }}
                {{ form_row(filterForm.email) }}
                {{ form_row(filterForm.adresse) }}
                {{ form_row(filterForm.datec) }}
                {{ form_row(filterForm.iduser) }#}
                {{ form_rest(filterForm) }}

                <p>
                    <button type="submit" name="filter_action" value="filter">{{ 'views.index.filter'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                    <button type="submit" name="filter_action" value="reset">{{ 'views.index.reset'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                </p>
            </form>
        </div>
    </div>
                </div>

    <div class="row">
                <div class="span12">
    
        
        <div class="panel panel-success">
                    <div class="panel-heading"><h3 class="panel-title">La liste des Clients<span class="badge">{{ entities|length }}</span></h3></div>
                    <div class="panel-body">
    <table class="table table-striped table-condensed">
    <thead>
        <tr>
            <!--th>Id</th-->
            <th>Nom</th>
            <th>Prénom</th>
            <th>Téléphone</th>
            <th>Email</th>
            <th>Adresse</th>
            <!--th>Datec</th>
            <th>Iduser</th-->
            <th>{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <!--td><a href="{{ path('client_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td-->
            <td>{{ entity.nom }}</td>
            <td>{{ entity.prenom }}</td>
            <td>{{ entity.telephone }}</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.adresse }}</td>
            <!--td>{% if entity.datec %}{{ entity.datec|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.iduser }}</td-->
            <td>
        <a class="btn btn-info" href="{{ path('client_show', { 'id': entity.id }) }}">
            {{ 'views.actions.show'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
        <a class="btn btn-inverse" href="{{ path('client_edit', { 'id': entity.id }) }}">
            {{ 'views.actions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
            <!--span class="glyphicon glyphicon-edit"> </span-->
        </a>            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
    </div>
    </div>
    </div>

    <div class='row'>
    <div class="span4">
    {{ pagerHtml|raw }}
    </div>

        <div class="span7">
    <a class="btn btn-primary likepaginator" href="{{ path('client_new') }}">
            {{ 'views.index.createnew'|trans({}, 'JordiLlonchCrudGeneratorBundle') }} Client
        </a>
    </div>
    </div>

{% endblock %}