{#% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %#}
{% extends '::base.html.twig' %}

{% block title %}
{{ parent() }} -  {{ 'views.edit.edit'|trans({'%entity%': 'Tailleur'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    <div class="row">
        <div class="span12 alert alert-success"><h1 class="titre">Modification données : {{ entity.id }} {{ entity.nom }} {{ entity.prenom }} </h1></div>
    </div>
<div class='row'>
    {% form_theme edit_form with ['CoutureClientBundle:Client:perso_input_bootstrap.html.twig'] %}
    <div class="col-sm-6 col-sm-offset-3">

<form class="well" action="{{ path('tailleur_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <input type="hidden" name="_method" value="PUT" />
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit" class="btn btn-success">{{ 'views.edit.editbutton'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
    </p>
</form>
    </div>
</div>

<div class='row'>
    <div class="span12 bouton_action">
    <div class="float-left">
        <a class="btn" href="{{ path('tailleur') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('tailleur_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
        </div>
</div>
{% endblock %}