{#% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %#}
{% extends '::base.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Tailleur'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    <div class="row">
        <div class="span12 alert alert-success"><h1 class="titre">Tailleur : {{ entity.nom }} {{ entity.prenom }} </h1></div>
    </div>
    <div class="row">
        <div class="span5 ">
            <div class="panel panel-success background_infos">
                    <div class="panel-heading"><h3 class="panel-title">Informations du Tailleur</h3></div>
                    <div class="panel-body">

<form class="form-horizontal">
    <fieldset>        <div class="control-group">
            <label class="control-label">Id</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.id }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Nom</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.nom }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Prenom</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.prenom }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Telephone</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.telephone }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Email</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.email }}</span>            </div>
        </div>        <!--div class="control-group">
            <label class="control-label">Login</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.login }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Password</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.password }}</span>            </div>
        </div-->        <div class="control-group">
            <label class="control-label">Date d'embauche</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.dateembauche|date('d-M-Y') }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Salaire</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.salaire }}</span>            </div>
        </div>        <!--div class="control-group">
            <label class="control-label">User</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.user }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Datemod</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.datemod|date('Y-m-d H:i:s') }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Iduser</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.iduser }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Datec</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.datec|date('Y-m-d H:i:s') }}</span>            </div>
        </div-->    </fieldset>
</form>
        </div>
        </div> </div>
              {% if entity.user == 1 %}
        <div class="span6">
            <div class="panel panel-success">
                    <div class="panel-heading show-details"><h3 class="panel-title">Informations d'authentification<span class="badge">User</span></h3></div>
                    <div class="panel-body">
                        
                        <form class='table-details'>
                            <fieldset>
                                <p class="control-group">
                                    <label class="control-label">E-mail</label>
                                    <!--div class=""-->
                                        <span class="">{{ entity.email }}</span>            
                                    <!--/div-->
                                </p>
                                <p class="control-group">
                                    <label class="control-label">Login</label>
                                    <!--div class=""-->
                                        <span class="">{{ entity.login }}</span>            
                                    <!--/div-->
                                </p>    
                                <p class="control-group">
                                    <label class="control-label">Mot de passe</label>
                                    <!--div class=""-->
                                        <span class="">{{ entity.password }}</span>            
                                    <!--/div-->
                                </p>
                                
                                   
                            </fieldset>
                        </form>
                        
                        <!--table class="table table-striped table-condensed table-details">
                            <tr>
                                <th>Login</th>
                                <th>Password </th>
                                <th>E-mail </th>
                                
                                
                            </tr>
                            
                          
                            <tr>
                                <td><a href="#">{{ entity.login }}</a></td>
                                <td>{{ entity.password }}</td>
                                <td>{{ entity.password }}</td>
                            </tr>
                          
                        </table-->
                    </div>
                </div>
        </div>
    {% endif %}
</div>
        
  
<div class='row'>
    <div class="float-left">
        <a class="btn" href="{{ path('tailleur') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-primary" href="{{ path('tailleur_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('tailleur_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>
{% endblock %}